@import "reset.css";
@import "fontiran.css";

/*
 Description About anything In Project :
 #Developed By : amir biabi
 #dm is specific name for Css Classes
 */

/* ph Custom Icon Styles*/
[class^="ph-"]::before, [class*=" ph-"]::before {
    font: normal normal normal 1em/1 "Phosphor";
    color: inherit;
    flex-shrink: 0;
    speak: none;
    text-transform: none;
    text-decoration: inherit;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 2px;
    top: 4px;
    position: relative;
  }
/* ph Custom Icon Styles*/


/* General Css */
body * {
    font-family: "IRANSans" !Important;
    direction: rtl;
    line-height: 30px;
}
html, body {
    font-family: "IRANSans" !Important;
    font-size: 14px !important;
    color: #18131F !important;
    background: #FFFFFF !important;
    /*background: black !important;*/
    direction: rtl;
    line-height: 30px;
}

*, *::selection, *:focus {
    outline: none !important;
}

button {
    font-family: inherit;
}

* {
    transition: all 0.25s ease !important;
}

a {
    text-decoration: none !important;
    color: #363636;
}

a:hover {
    text-decoration: none !important;
    opacity: 0.8 !important;
    color: inherit;
}
.dm-direction-ltr {
    direction: ltr;
}
.dm-vertical-align-middle {
    vertical-align: middle;
}

.dm-horiz-align-middle {
    horiz-align: center;
}

.dm-no-border {
    border: none;
}

::placeholder {
    font-size: 12px;
    color: #999;
    font-family: "IRANSans" !Important;
}

.dm-flex-end {
    justify-content: flex-end !important;
}

button {
    border: none !important;
}

.swiper-slide {
    height: auto;
    text-align: center;
}
.uk-table th , .uk-table td {
    padding: 10px !important;
    vertical-align: middle !important;
}

.dm-line-through {
    text-decoration: line-through;
 }
/* General Css */

/* Background and Colors */
.dm-bg-white {
    background: #fff !important;
}

.dm-bg-silver {
    /* background: #F5F5F5; */
    background: #F8F8F9;
    /* background: #F8F8F9; */
}

.dm-bg-light-silver {
    background: #F2F2F2;
}

.dm-bg-blur-black {
    background: rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(22px);
}

.dm-bg-light-black {
    background: rgba(0, 0, 0, 0.3) !important;
}

.dm-bg-first {
    background: #0183FF;
}

.dm-bg-light-first {
    background: rgba(1, 131, 255, 0.15);
}

.dm-bg-second {
    background: #F8F8F9;
    /* background: rgba(0, 0, 0, 0.1); */
}

.dm-bg-light-second {
    background: rgba(0, 0, 0, 0.1);
}

.dm-color-silver {
    color: #000000;
    opacity: 0.5;
}

.dm-color-first {
    color: #0183FF;
}

.dm-color-second {
    color: #FFCE71;
}

.dm-color-black {
    color: #000000 !important;
}

.dm-color-light-black {
    color: rgba(0, 0, 0, 0.5);
}

.dm-color-white {
    color: #fff !important;
}

.dm-color-light-silver {
    /* color: rgba(255, 255, 255, 0.5); */
    color: rgba(0, 0, 0, 0.35);
}

/* Background and Color */

/* Border abd Border Radius */

.dm-border-first-buttom-filter{
    width: 35px;
    height: 3.2px;
    box-sizing: border-box;
    border-bottom: 1px solid #0183FF;
    background-color: #0183FF;
}
.dm-border-silver-buttom-filter{
    width: 15px;
    height: 2.5px;
    box-sizing: border-box;
    background-color: #D0E3ED;
    border-bottom: 1px solid #D0E3ED;
    /* border-left: 1px solid rgba(255, 255, 255, 0.3); */
}
.dm-border-bottom-filter{
    width: 100%;
    margin-top: 7.5%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dm-border-bottom-first {
    border-bottom: 1px solid #0183FF;
}

.dm-border-top-second {
    border-top: 5px solid #F8F8F9;
}

.dm-border-silver-left {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.dm-border-silver-right {
    border-right: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.dm-border-light-left {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.dm-border-silver-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.dm-border-silver-top {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.dm-border-silver-bottom-dashed {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.15) !important;
}

.dm-border-silver-top-dashed {
    border-top: 1px dashed rgba(0, 0, 0, 0.15);
}

.dm-border-silver {
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.dm-border-light-silver {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.dm-border-light-silver-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.dm-border-light {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.dm-border-light-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.dm-border-radius-xsmall {
    border-radius: 2px;
}

.dm-border-radius-small {
    border-radius: 5px;
}

.dm-border-radius {
    border-radius: 10px;
}

.dm-border-radius-big {
    border-radius: 15px;
}

.dm-border-radius-circle {
    border-radius: 50px;
}

.dm-border-radius-big-top-right {
    border-top-right-radius: 15px;
}

.dm-border-radius-big-bottom-right {
    border-bottom-right-radius: 15px;
}

.dm-border-radius-big-bottom-left {
    border-bottom-left-radius: 15px;
}

/* Border abd Border Radius */

/* Padding and Margin */
.dm-padding-very-small {
    padding: 5px;
}

.dm-padding-xsmall {
    padding: 5px;
}

.dm-padding-small {
    padding: 10px;
}

.dm-padding-medium {
    padding: 25px;
}

.dm-padding-large {
    padding: 35px;
}

.dm-padding-xlarge {
    padding: 50px;
}

.dm-padding {
    padding: 15px;
}

.dm-date-padding {
    padding: 5px 30px !important;
}

.dm-intro-btn-padding {
    padding: 7px 30px !important;
}


.dm-padding-vertical-xsmal {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dm-padding-vertical-small {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dm-padding-vertical {
    padding-top: 15px;
    padding-bottom: 15px;
}

.dm-padding-vertical-medium {
    padding-top: 25px;
    padding-bottom: 25px;
}

.dm-padding-vertical-large {
    padding-top: 35px;
    padding-bottom: 35px;
}




.dm-margin-right-small {
    margin-right: 5px;
}

.dm-margin-left-small {
    margin-left: 5px;
}

.dm-margin-top-small {
    margin-top: 5px;
}

/* Padding and Margin */

/* Width & Height */

.dm-width-100 {
    min-width: 100% !important;
    max-width: 100% !important;
}

.dm-width-75 {
    width: 75px !important;
}

.dm-height-75 {
    height: 75px !important;
}

/* Width & Height */

/* Font Style */
.dm-font-size-very-small {
    font-size: 10px;
}

.dm-font-size-small {
    font-size: 12px;
}

.dm-font-size {
    font-size: 14px;
}

.dm-font-size-big {
    font-size: 16px;
}

.dm-font-size-very-big {
    font-size: 18px;
}

.dm-icon-font-size-big {
    font-size: 30px;
}

.dm-icon-font-size-very-big {
    font-size: 35px;
}

.dm-font-weight-light {
    font-weight: 200;
}

/* Font Style */


/* Bold Style */

.dm-bold-text {
    font-weight: 400;
}

.dm-bold-text-sm {
    font-weight: 500;
}

.dm-bold-text-md {
    font-weight: 600;
}

.dm-bold-text-lg {
    font-weight: 700;
}

.dm-bold-text-xl {
    font-weight: 900;
}


/* Bold Style */







/* Other Custom Css */
.uk-grid-divider > :not(.uk-first-column)::before {
    content: "";
    position: absolute;
    top: calc(8%);
    bottom: 0;
    border-left: 1.6px solid #e5e5e5;
    height: 80%;
  }
  .product-sliders.swiper-container .swiper-wrapper {
      margin: 5px;
  }
/* Other Custom Css */

/* Form Custom Styles */

form .dm-input,
form .dm-textarea{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    text-align: right;
    background-color: #FFFF !important;
    color: rgba(0, 0, 0, 0.3);
}

form .dm-button{
    color: #FFFFFF;
    border: 1px solid #FFFFFF !important;
    box-sizing: border-box;
}
form .dm-button:hover{
    color: #0183FF;
    background-color: #ffffff;
    border: 1px solid #0183FF !important;
}

/* Form Custom Styles */

/* Main Pagination Styles */

#pagination-section .uk-pagination li{
    font-size: 18px;
    padding: 0px 10px;
    min-width: 40px;
    width: 50px;
}

#pagination-section .uk-pagination li:hover,
#pagination-section .uk-pagination li.uk-active{
    background: #0183FF;
}

#pagination-section .uk-pagination li:hover *,
#pagination-section .uk-pagination li.uk-active *{
    color: #FFF;
}

#pagination-section .uk-pagination li:not(#pagination-section .uk-pagination li:last-child){
    margin-left: 5px;
}

#pagination-section .uk-pagination li:first-child,
#pagination-section .uk-pagination li:last-child{
    padding-top: 8px;
}

#pagination-section .uk-pagination li a{
    /* font-size: 14px; */
}
/* Main Pagination Styles */











/* Header Style */
#header-section{
    /* padding-left: 45px;
    padding-right: 45px; */
    padding-bottom: 0;
}
#main-logo .uk-logo img{
    width: 55px;
    height: 55px;
}
#main-logo a.more-search-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 5px 0 0;
}

#main-logo .logo-type{
    margin-right: 5px;
}

#main-logo .logo-type span.ttl{
    margin-top: -6px;
}

#nav-search {
    margin-right: 30px;
}
#nav-search .uk-search-input{
    background-color: #F5F5F5;
    border-radius: 5px;
    padding-right: 30px;
    font-size: 1rem !important;
}
form.uk-search input{
    font-size: 1rem;
    font-weight: normal !important;

}

#nav-search .uk-search-icon{
    left: -25px;
}
#nav-search .uk-search-icon svg,
.uk-search-icon svg{
    width:20px;
    color: #000;
}
#nav-search .uk-search-icon svg *,
.uk-search-icon svg *{
    stroke-width: 1.7;
}
#nav-search .uk-search-navbar {
  width: 430px;
}


.header-btns{
    padding: 5px 15px;
    box-sizing: border-box;
    border-radius: 5px;
}
#contact-btn{
    letter-spacing: 1.1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#auth-btn{
    padding: 5px 20px;
    letter-spacing: 1.05px;
    background: rgba(0, 0, 0, 0.06);
}
#cart-btn{
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    background: rgba(1, 131, 255, 1);
}
#cart-btn img {
    margin-top: 7px;
}
#cart-btn #cart-count{
    position: absolute;
    top: -15px;
    left: -15px;
    text-align: center;
    background: #000;
    border-radius: 100%;
    /* width: 15px;
    height: 15px; */
    font-size: 13px;
}
#cart-count span {
    margin-bottom: 2px;
}



/* Product Sliders Styles */
.product-sliders .swiper-wrapper{height: auto;}
.swiper-button-prev::after,
.swiper-button-next::after {
    font-family: swiper-icons;
    font-size: 18px;
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
    font-weight: 900;
}

.dm-box-shadow{
    box-shadow: 0px 0px 24px rgba(1, 131, 255, 0.3);
}
#newest-products .product-slide{
    background: #FFFFFF;
    max-height: 290px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
#newest-products .product-slide:hover{
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgba(1, 131, 255, 0.3);
}

.product-action {
    padding: 10px 15px;
    margin: 5px 0px;
}
.product-discount {
    /* position: absolute;
    height: 20px;
    right: 0;
    top: -26px; */
    /* color: #fff; */
    /* background: #0183FF; */
    background: #EEEEEE;
    color: #000000;
    opacity: 0.5;
    padding: 0px 6px;
}
.product-discount:hover {
    /* position: absolute;
    height: 20px;
    right: 0;
    top: -26px; */
    /* color: #fff; */
    background: #EEEEEE;
    padding: 0px 6px;
}
/* Product Sliders Styles */




/* main menu */
.pointer{
    cursor: pointer;
}

.menu-container #menu nav{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}
.menu-container #menu nav .uk-navbar-nav > li > a {
  min-height: 40px;
  /* font-size: .8rem;
  border-radius: 10px; */
}

#main-menu{
    width: 350px;
    max-width: 350px;
}

#main-menu > div.uk-inline{
    padding: 5px 15px;
    color: #000000;
}
/* Header Style */












/* Footer Style */
#main-footer{
    background: rgba(248, 248, 249, 1);
}

#main-footer #footer-items{
    background: #FFFFFF;
    border-radius: 15px 15px 15px 0px;
}
/* Footer Style */

/* Contact Us Style */
/* Contact Us Style */



/* Profile Style */
/* Profile Style */



/* Responsive */
@media only screen and (max-width: 640px) {
    /* Index */
    .news-img {
        width: 75px;
    }
    /* Index */

    /* Rules Category */
    .rule-img {
        width: 50px;
    }

    /* Rules Category */
    /* Blog Gallery Category */
    .dm-blog-gallery-category-img {
        width: 75px !important;
        height: 75px !important;
    }

    /* Blog Gallery Category */
    /* Council History */
    .council-title {
        font-size: 12px;
    }
    /* Council History */
}

@media only screen and (max-width: 340px) {
    .product-sliders .product-slide{
        width: 245px;
        max-width: 245px;
    }
}

/* Responsive */