
#more-category-info-btn{
    padding: 5px 15px;
}
.dm-close-category-info {
    height: 250px !important;
    overflow: hidden;
}
#category-info{
    overflow-y: none;
    transition: overflow-y 0.35s ease-in-out;
}
#category-info:hover{
    overflow-y: auto;
}


/* Product Pagination Styles */

#pagination-section .uk-pagination li{
    font-size: 18px;
    padding: 0px 10px;
    min-width: 40px;
    width: 50px;
}

#pagination-section .uk-pagination li:hover,
#pagination-section .uk-pagination li.uk-active{
    background: #0183FF;
}

#pagination-section .uk-pagination li:hover *,
#pagination-section .uk-pagination li.uk-active *{
    color: #FFF;
}

#pagination-section .uk-pagination li:not(#pagination-section .uk-pagination li:last-child){
    margin-left: 5px;
}

#pagination-section .uk-pagination li:first-child,
#pagination-section .uk-pagination li:last-child{
    padding-top: 8px;
}

#pagination-section .uk-pagination li a{
    /* font-size: 14px; */
}
/* Product Pagination Styles */


/* Product Filter Section */

#products-filter-section.dm-close-menu {
    width: 70px;
    min-width: unset !important;
    max-width: unset !important;
    transition: all 0.25s ease !important;
}
#products-filter-section.dm-close-menu button#products-filter-btn{
    transition: all 0.25s ease !important;
    text-align: center !important;
    width: 100%;

}

#products-filter-section.dm-close-menu button#products-filter-btn .btn-icon{
    margin-right: 0px;
}

#products-filter-section,
#products-filter-section.dm-open-menu{
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    transition: all 0.25s ease !important;
}
#products-filter-section.dm-open-menu button#products-filter-btn .btn-icon{
    margin-right: 10px;
}

#products-filter-section button#products-filter-btn{
    min-height: 43px;
    box-sizing: border-box;
    transition: all 0.25s ease !important;
}
/* Product Filter Section */


/* Product Box Styles */
.product-box{
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background: #FFFFFF;
}
.product-box:hover{
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgba(1, 131, 255, 0.3);
}
/* Product Box Styles */


/* Product Filter Form Custom Styles */

#products-filter-section .uk-checkbox{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: .2s ease-in-out;
    transition-property: background-color,border;
}

#products-filter-section .uk-checkbox:checked,
#products-filter-section .uk-checkbox:indeterminate,
#products-filter-section .uk-radio:checked {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
    background-color: #0183FF !important;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-color: transparent;
  }
/* Product Filter Form Custom Styles */













/* Product Single Styles */
#img-container .swiper-wrapper{
    margin-bottom: 1px;
}
#img-container .swiper-slide.thumbnail {
    /* padding: 6px 0;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border: 1px solid #0183FF;  
    box-sizing: border-box; */

    padding: 15px 0;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* border: 1px solid #0183FF; ===> Hover */
    box-sizing: border-box;
    width: 85px !important;
    height: 85px;
}


#product-gallery{
    width: 450px;
    min-width: 450px;
}
#product-gallery .product-actions ul li a{
    padding: 10px;
    padding-bottom: 6px;
}

#product-gallery .product-actions{
    position: absolute;
    left: -70px;
    bottom: 20px;
}

#product-gallery .product-discount-badge{
    position: absolute;
    right: 50px;
    top: 20px;
}

#product-gallery .product-discount-badge > div{
    padding: 20px 17px;
}

.product-image-container{
    padding: 75px 20px;
}






/* Product Detail Information */
#product-detail .product-values span img {
    max-height: 17px;
}

#product-detail .product-title-section .product-categories-info .category-badge{
    padding: 5px 20px;
    background: #0183FF;
    border-radius: 25px;
    color: #FFFFFF;
}

#product-detail .product-title-section .product-specs .specs-item-bullet{
    width: 7px;
    height: 7px;
    border-radius: 100%;
    display: inline-block;
    margin-left: 10px;
    background: #C4C4C4;
}



#product-brand-section{
    width: auto;
    min-width: 330px;
    box-sizing: border-box;
    
}

#more-brand-info-btn{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid transparent !important;
}

#more-brand-info-btn:hover{
    background-color: #0184ff09 !important;
    border: 2px solid #0183FF !important;
}



/* Tab Contents Styles */
#product-tabs-section #tab-container .tab-btn.latest-tab{
    background: #F8F8F9;
    border-radius: 15px 0px 0px 0px;
} 

#tab-container{
    margin: 15px !important;
}

#tab-container .tab-content-container{
    /* border: 1px solid rgba(0, 0, 0, 0.15);
    border-top: none;
    border-top-right-radius: 0 !important; */
}

#tab-container .hb-tabs .tab-btn{
    min-width: 130;
    width: auto;
}
#tab-container .hb-tabs .tab-btn a{
    /* padding-left: 25;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
    /* border-bottom: 2px solid #FFF; */
}
#tab-container .hb-tabs.uk-subnav-pill > .tab-btn > a {
    /* background-color: #fff; */
    color: rgba(54, 54, 54, 0.26);
    font-size: 14px !important;
}
#tab-container .hb-tabs.uk-subnav-pill > .tab-btn.uk-active > a {
    background-color: transparent !important;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #0183FF;
}

#tab-container .hb-tabs.uk-sticky.uk-active {
    color: #363636;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 15px 0 0 15px;
    background: #FFF;
    border: 1.5px solid #F8F8F9;
}

#tabs-container .uk-switcher.tab-content-container{
    border: 1px solid #F8F8F9;
}



/* Comments Sections */
.uk-input, .uk-select, .uk-textarea{
    border-radius: 3px !important;
    border: 2px solid transparent !important;
    background: rgba(0, 0, 0, 0.03) !important;
}

.uk-input:focus, 
.uk-select:focus,
.uk-textarea:focus{
    background: #FFF !important;
    border: 2px solid #e5e5e5 !important;
}
.dm-input{}




/* Specs Tab Content Styles */
.uk-switcher.tab-content-container .tab-content #specs-tab-section .specs-items .specs-item-value > div {
    padding-bottom: 10px;
    border-bottom: 1.6px solid rgba(0, 0, 0, 0.15) !important;
}


/* Product Single Styles */



























/* Responsive */
@media only screen and (max-width: 640px) {
    #product-gallery{
        width: 100%;
        min-width: 100%;
    }

    #product-brand-section{
        width: 100%;
        min-width: 100%;
        margin-top: 20px;        
    }

    #product-detail .product-title-section{
        padding-left: 0px;
    }

    #tab-container{
        padding: 0;
    }
    #tab-container .uk-switcher.tab-content-container{
        padding: 20px;
    }

    #tab-container .hb-tabs .tab-btn {
        min-width: auto;
        width: auto;
    }

    #product-tabs-section #tab-container .hb-tabs.uk-active .tab-btn{
        padding: 0px;
        background: none;
        border-radius: 0px 0px 0px 0px;
    } 
    #product-tabs-section #tab-container .hb-tabs.uk-active .tab-btn:hover a{
        background: none;
    }



    #comments-section{
        padding-left: 0;
    }
    #comments-section .comments-list-section .uk-comment-list .reply-comment-list{
        padding-left: 0;
    }




    /* Product-Category */
    #products-filter-section,
    #products-filter-section.dm-open-menu{
        width: 100% !important;
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 340px) {
    
}

/* Responsive */